<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.weather.mapper.WeatherMapper">
    
    <resultMap type="Weather" id="WeatherResult">
        <result property="id"    column="id"    />
        <result property="city"    column="city"    />
        <result property="weatherDate"    column="weather_date"    />
        <result property="lowT"    column="low_t"    />
        <result property="highT"    column="high_t"    />
        <result property="dayType"    column="day_type"    />
        <result property="nightType"    column="night_type"    />
        <result property="windDirection"    column="wind_direction"    />
        <result property="windSpeed"    column="wind_speed"    />
        <result property="windScale"    column="wind_scale"    />
        <result property="humidity"    column="humidity"    />
        <result property="collectTime"    column="collect_time"    />
    </resultMap>

    <sql id="selectWeatherVo">
        select id, city, weather_date, low_t, high_t, day_type, night_type, wind_direction, wind_speed, wind_scale, humidity, collect_time from weather
    </sql>

    <select id="selectWeatherList" parameterType="Weather" resultMap="WeatherResult">
        <include refid="selectWeatherVo"/>
        <where>  
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="params.beginWeatherDate != null and params.beginWeatherDate != '' and params.endWeatherDate != null and params.endWeatherDate != ''"> and weather_date between #{params.beginWeatherDate} and #{params.endWeatherDate}</if>
            <if test="params.beginLowT != null and params.beginLowT != '' and params.endLowT != null and params.endLowT != ''"> and low_t between #{params.beginLowT} and #{params.endLowT}</if>
            <if test="params.beginHighT != null and params.beginHighT != '' and params.endHighT != null and params.endHighT != ''"> and high_t between #{params.beginHighT} and #{params.endHighT}</if>
            <if test="dayType != null  and dayType != ''"> and day_type = #{dayType}</if>
            <if test="nightType != null  and nightType != ''"> and night_type = #{nightType}</if>
            <if test="windDirection != null  and windDirection != ''"> and wind_direction = #{windDirection}</if>
            <if test="params.beginWindSpeed != null and params.beginWindSpeed != '' and params.endWindSpeed != null and params.endWindSpeed != ''"> and wind_speed between #{params.beginWindSpeed} and #{params.endWindSpeed}</if>
            <if test="windScale != null "> and wind_scale = #{windScale}</if>
            <if test="params.beginHumidity != null and params.beginHumidity != '' and params.endHumidity != null and params.endHumidity != ''"> and humidity between #{params.beginHumidity} and #{params.endHumidity}</if>
            <if test="params.beginCollectTime != null and params.beginCollectTime != '' and params.endCollectTime != null and params.endCollectTime != ''"> and collect_time between #{params.beginCollectTime} and #{params.endCollectTime}</if>
        </where>
    </select>
    
    <select id="selectWeatherById" parameterType="Long" resultMap="WeatherResult">
        <include refid="selectWeatherVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWeather" parameterType="Weather" useGeneratedKeys="true" keyProperty="id">
        insert into weather
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="city != null">city,</if>
            <if test="weatherDate != null">weather_date,</if>
            <if test="lowT != null">low_t,</if>
            <if test="highT != null">high_t,</if>
            <if test="dayType != null">day_type,</if>
            <if test="nightType != null">night_type,</if>
            <if test="windDirection != null">wind_direction,</if>
            <if test="windSpeed != null">wind_speed,</if>
            <if test="windScale != null">wind_scale,</if>
            <if test="humidity != null">humidity,</if>
            <if test="collectTime != null">collect_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="city != null">#{city},</if>
            <if test="weatherDate != null">#{weatherDate},</if>
            <if test="lowT != null">#{lowT},</if>
            <if test="highT != null">#{highT},</if>
            <if test="dayType != null">#{dayType},</if>
            <if test="nightType != null">#{nightType},</if>
            <if test="windDirection != null">#{windDirection},</if>
            <if test="windSpeed != null">#{windSpeed},</if>
            <if test="windScale != null">#{windScale},</if>
            <if test="humidity != null">#{humidity},</if>
            <if test="collectTime != null">#{collectTime},</if>
         </trim>
    </insert>

    <update id="updateWeather" parameterType="Weather">
        update weather
        <trim prefix="SET" suffixOverrides=",">
            <if test="city != null">city = #{city},</if>
            <if test="weatherDate != null">weather_date = #{weatherDate},</if>
            <if test="lowT != null">low_t = #{lowT},</if>
            <if test="highT != null">high_t = #{highT},</if>
            <if test="dayType != null">day_type = #{dayType},</if>
            <if test="nightType != null">night_type = #{nightType},</if>
            <if test="windDirection != null">wind_direction = #{windDirection},</if>
            <if test="windSpeed != null">wind_speed = #{windSpeed},</if>
            <if test="windScale != null">wind_scale = #{windScale},</if>
            <if test="humidity != null">humidity = #{humidity},</if>
            <if test="collectTime != null">collect_time = #{collectTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeatherById" parameterType="Long">
        delete from weather where id = #{id}
    </delete>

    <delete id="deleteWeatherByIds" parameterType="String">
        delete from weather where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>