<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.weather.mapper.WeatherMapper">
    
    <resultMap type="Weather" id="WeatherResult">
        <result property="id"    column="id"    />
        <result property="city"    column="city"    />
        <result property="temperature"    column="temperature"    />
        <result property="collectTime"    column="collect_time"    />
        <result property="weatherType"    column="weather_type"    />
    </resultMap>

    <sql id="selectWeatherVo">
        select id, city, temperature, collect_time, weather_type from weather
    </sql>

    <select id="selectWeatherList" parameterType="Weather" resultMap="WeatherResult">
        <include refid="selectWeatherVo"/>
        <where>  
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="temperature != null  and temperature != ''"> and temperature = #{temperature}</if>
            <if test="params.beginCollectTime != null and params.beginCollectTime != '' and params.endCollectTime != null and params.endCollectTime != ''"> and collect_time between #{params.beginCollectTime} and #{params.endCollectTime}</if>
            <if test="weatherType != null  and weatherType != ''"> and weather_type = #{weatherType}</if>
        </where>
    </select>
    
    <select id="selectWeatherById" parameterType="Long" resultMap="WeatherResult">
        <include refid="selectWeatherVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWeather" parameterType="Weather" useGeneratedKeys="true" keyProperty="id">
        insert into weather
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="city != null">city,</if>
            <if test="temperature != null">temperature,</if>
            <if test="collectTime != null">collect_time,</if>
            <if test="weatherType != null">weather_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="city != null">#{city},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="collectTime != null">#{collectTime},</if>
            <if test="weatherType != null">#{weatherType},</if>
         </trim>
    </insert>

    <update id="updateWeather" parameterType="Weather">
        update weather
        <trim prefix="SET" suffixOverrides=",">
            <if test="city != null">city = #{city},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="collectTime != null">collect_time = #{collectTime},</if>
            <if test="weatherType != null">weather_type = #{weatherType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeatherById" parameterType="Long">
        delete from weather where id = #{id}
    </delete>

    <delete id="deleteWeatherByIds" parameterType="String">
        delete from weather where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>