<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('热门特产榜单')" />

    <style>
        @media print {
            .fixed-table-toolbar {
                display: none;
            }

            .noprint {
                display: none;
            }

            .fixed-table-pagination {
                display: none !important;
            }

        }
        @page {
            size: auto;
            margin: 0mm;
        }
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>特产名称：</label>
                                <input type="text" name="specialtyName" id="speciality_name"/>
                            </li>
                            <li>
                                <label>民宿名称：</label>
                                <input type="text" name="houseName" id="hosue_name"/>
                            </li>
                            <li>
                                <label>民宿地址：</label>
                                <input type="text" name="address" id="address"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="yk:top_speciality:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-success" onclick="printHtml();" shiro:hasPermission="system:top_speciality:print">
                    <i class="fa fa-plus"></i> 打印
                </a>
                <a class="btn btn-success" onclick="$.modal.openTab('特产统计', '/yk/top_speciality/statistics');" shiro:hasPermission="yk:top_speciality:statistics">
                    <i class="fa fa-plus"></i> 统计
                </a>
                <a class="btn btn-success" onclick="$.table.refreshOptions({sortName: 'sale', sortOrder: 'desc'})">
                    <i class="fa fa-plus"></i> 按销量降序排列
                </a>
                <a class="btn btn-success" onclick="$.table.refreshOptions({sortName: 'price', sortOrder: 'asc'})">
                    <i class="fa fa-plus"></i> 按价格升序排列
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped noprint" id="prints" style="width: 100%;">
                <table id="bootstrap-table" style="width: 100%;word-break:break-all; word-wrap:break-all; "></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "yk/top_speciality";
        var buyFlag = [[${@permission.hasPermi('system:buySpecialty:buy')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                exportUrl: prefix + "/export",
                modalName: "最热特产榜单",
                sortName: "sale",
                sortOrder: "desc",
                pagination: false,
                columns:
                [{
                    field: 'id',
                    title: '特产ID',
                    visible: false
                }, {
                    title: '图片',
                    field: 'image',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return '<img src="'+ row.imageUrl + '" style="width: 100px; height: 100px">';
                    }
                }, {
                    field: 'specialtyName',
                    title: '特产名称'
                },{
                    field: 'houseName',
                    title: '民宿名称',
                }, {
                    field: 'address',
                    title: '民宿地址',
                },{
                    field: 'price',
                    title: '特产价格'
                }, {
                    field: 'sale',
                    title: '特产销量'
                },{
                    field: 'description',
                    title: '描述'
                },{
                    field: 'inventory',
                    title: '库存'
                }, {
                    title: '操作',
                    field: 'caozuo',
                    width: '150px',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        //actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push("<a class='btn btn-success btn-xs " + buyFlag + "' href='javascript:void(0)' onclick='buy(" + row.id + ")'><i class='fa fa-search'></i>详情页查看</a>");
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function buy(id) {
            var url =  ctx + "system/buySpecialty" + '/buy/' + id;
            $.modal.openTab("详情页", url);
        }

        function resetPre() {
            $("#speciality_name").val("");
            $("#address").val("");
            $("#house_name").val("");
            $.table.search();
        }

        function printHtml() {
            $("#prints").removeClass("noprint");
            $.table.hideColumn('image');
            $.table.hideColumn('caozuo');
            window.print();
            $("#option").addClass("noprint");
            $.table.showColumn('image');
            $.table.showColumn('caozuo');

        }
    </script>
</body>
</html>