<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看评论')" />
    <link href="../static/css/login.min.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="../static/assets/global/css/dynamic1.css" th:href="@{/assets/global/css/dynamic1.css}" rel="stylesheet" type="text/css"/>
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div style="position: fixed">
    <canvas id="canvas"></canvas>
    <!--<h1>XM-05 民宿旅游系统</h1>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
    <script src="/js/dat.gui.min.js"></script>
    <script type="text/javascript">
        let settings = {
            amplitudeX: 150,
            amplitudeY: 20,
            lines: 30,
            startColor: '#500c44',
            endColor: '#b4d455'
        };

        const c = document.getElementById("canvas");
        const ctx1 = c.getContext("2d");
        let winW = window.innerWidth;
        let winH = window.innerHeight;
        let Paths = [];
        let color = [];
        let mouseY = 0;
        let mouseDown = false;
        let time = 0;
        let curves;
        let velocity;

        class Path {
            constructor(y, color) {
                this.y = y;
                this.color = color;
                this.root = [];
                this.create();
                this.draw();
            }

            create() {
                let rootX = 0;
                let rootY = this.y;

                this.root = [{ x: rootX, y: rootY }];

                while (rootX < winW) {
                    let casual = Math.random() > 0.5 ? 1 : -1;
                    let x = parseInt(
                        settings.amplitudeX / 2 + Math.random() * settings.amplitudeX / 2
                    );
                    let y = parseInt(rootY + casual * (settings.amplitudeY / 2 + Math.random() * settings.amplitudeY / 2));
                    rootX += x;
                    let delay = Math.random() * 100;
                    this.root.push({ x: rootX, y: y, height: rootY, casual: casual, delay: delay });
                }
            }

            draw() {
                ctx1.beginPath();
                ctx1.moveTo(0, winH);

                ctx1.lineTo(this.root[0].x, this.root[0].y);

                for (let i = 1; i < this.root.length - 1; i++) {

                    let x = this.root[i].x;
                    let y = this.root[i].y;
                    let nextX = this.root[i + 1].x;
                    let nextY = this.root[i + 1].y;

                    let xMid = (x + nextX) / 2;
                    let yMid = (y + nextY) / 2;
                    let cpX1 = (xMid + x) / 2;
                    let cpY1 = (yMid + y) / 2;
                    let cpX2 = (xMid + nextX) / 2;
                    let cpY2 = (yMid + nextY) / 2;

                    ctx1.quadraticCurveTo(cpX1, y, xMid, yMid);
                    ctx1.quadraticCurveTo(cpX2, nextY, nextX, nextY);
                }

                const lastPoint = this.root.reverse()[0];
                this.root.reverse();
                ctx1.lineTo(lastPoint.x, lastPoint.y);
                ctx1.lineTo(winW, winH);
                ctx1.fillStyle = this.color;
                ctx1.fill();
                ctx1.closePath();
            }
        }

        /* INIT */
        let path;
        function init() {
            c.width = winW;
            c.height = winH;
            Paths = [];

            color = chroma.scale([settings.startColor, settings.endColor])
                .mode('lch').colors(settings.lines);

            document.body.style = `background: ${settings.startColor}`;

            for (let i = 0; i < settings.lines; i++) {
                Paths.push(new Path(winH / settings.lines * i, color[i]));
                settings.startY = winH / settings.lines * i;
            }
        }

        /* WIN RESIZE */
        window.addEventListener('resize', function () {
            winW = window.innerWidth;
            winH = window.innerHeight;
            c.width = winW;
            c.height = winH;
            init();
        });
        window.dispatchEvent(new Event("resize"));
        // console.log("fffff");

        /* RENDER */
        function render() {
            c.width = winW;
            c.height = winH;

            curves = mouseDown ? 2 : 4;
            velocity = mouseDown ? 6 : 0.8;

            time += mouseDown ? 0.1 : 0.05 ;

            Paths.forEach(function (path, i) {
                path.root.forEach(function (r, j) {
                    if (j % curves == 1) {
                        let move = Math.sin(time + r.delay ) * velocity * r.casual;
                        r.y -= (move / 2) - move;
                    }
                    if (j + 1 % curves == 0) {
                        let move = Math.sin(time + r.delay ) * velocity * r.casual;
                        r.x += (move / 2) - move / 10;
                    }
                });

                path.draw();
            });

            requestAnimationFrame(render);
        }
        render();

        /* MOUSEDOWN */
        ('mousedown touchstart').split(' ').forEach(e => {
            document.addEventListener(e, function() {
                mouseDown = true;
            })
        });

        /* MOUSEUP */
        ('mouseup mouseleave touchend').split(' ').forEach(e => {
            document.addEventListener(e, function() {
                mouseDown = false;
            })
        });

        /* MOUSEMOVE */
        ('mousemove touchmove').split(' ').forEach(e => {
            document.addEventListener(e, function(e) {
                mouseY = e.clientY || e.touches[0].clientY;
            })
        });

        console.log("gggggg");



    </script>
</div>


<div class="wrapper wrapper-content filter">
    <form class="form-horizontal m" id="form-landlordorder-edit" >

        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">订购特产记录ID：</label>-->
            <div class="col-sm-8">
                <input name="specialtyRecordId"  th:value="${id}" id="id" class="form-control"  type="hidden" >
            </div>
        </div>


        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">打分（满分5分）：</label>-->
            <div class="col-sm-8">
                <input name="score"  class="form-control" type="hidden" >
            </div>
        </div>

        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">评论：</label>-->
            <div class="col-sm-8">
                <input name="comment"  class="form-control" type="hidden" >
            </div>
        </div>

        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">照片：</label>-->
            <div class="col-sm-8">
                <input name="photo"  class="form-control" type="hidden" >
            </div> </div>

        <div class="scroller" style="height: 341px;" data-always-visible="1" data-rail-visible1="1" id="Comment"></div>
    </form>

</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">

    // var prefix = ctx + "clienthomeorder/homeorder";
    // $("#form-landlordorder-edit").validate({
    //     focusCleanup: true
    // });
    // if ($.validate.form()) {
    //     $.operate.save(prefix + "/queryallcomment", $('#form-landlordorder-edit').serialize());
    // }

    var id=$("#id").val();
    console.log("id="+id);
    var data={};
    data.id=id;
    $.ajax({//获取评价信息
        type: 'post',
        url: '/clientspecialtyorder/clientorder/queryallcomment',
        data:data,
        async: false,
        success: function(res) {
            console.log(res);
            let json = eval( "(" + res + ")" );

            var str="<ul class='chats'>\n";
            for(var i=json.data.length-1;i>-1;i--){
                var a = json.data.length-i;
                str=str+"<li class='in'>\n" +
                    "                <img src='https://pic1.zhimg.com/80/v2-b31f71b9dbfc90cd5897e052075c6a90_720w.webp'  class='img-circle' alt='User Image' th:width='50' height='50'/>\n" +
                    "                        <tr>\n" +
                    "                            <th scope=\"col\" style='font-size: medium;color: whitesmoke'>序号：</th>" +
                    "                           <td style='font-size: medium;color: whitesmoke'>"+a+"<br></td>\n" +
                    "                            <th scope=\"col\" style='font-size: medium;color: whitesmoke'>打分（满分5分）：</th>" +
                    "                            <td style='font-size: medium;color: whitesmoke'>"+json.data[i].score+"<br></td>\n" +
                    "                            <th scope=\"col\" style='font-size: medium;color: whitesmoke'>评价：</th>" +
                    "                            <td style='font-size: medium;color: whitesmoke'>"+json.data[i].comment+"<br></td>\n" +
                    // "                            <th scope=\"col\" style='font-size: medium;color: whitesmoke'>照片：</th>" +
                    // "                <img src=\"json.data[i].photo\" alt='用户暂未评价' class='img-circle'  th:width='50' height='50'/>\n" +
                    "                        </tr>\n"+
                    "            </li>\n";
                    // " <h1><img alt=[ 用户暂未评价]  src="{json.data[i].photo}"></h1> ";



            }
            str=str+" </ul>";
            document.getElementById("Comment").innerHTML=str;
        }
    });

    const gui = (
        function datgui() {
            var gui = new dat.GUI();
            // dat.GUI.toggleHide();
            gui.closed = true;
            gui.add(settings, "amplitudeX", 40, 200).step(20).onChange(function(newValue) {
                init();
            });
            gui.add(settings, "amplitudeY", 0, 100).step(1).onChange(function(newValue) {
                init();
            });
            gui.add(settings, "lines", 5, 50).step(1).onChange(function(newValue) {
                init();
            });
            gui.addColor(settings, "startColor").onChange(function(newValue) {

                init();
                document.querySelector('h1').innerHTML = 'or whatever you want';
            });
            gui.addColor(settings, "endColor").onChange(function(newValue) {
                init();
                document.querySelector('h1').innerHTML = 'or whatever you want';
            });
            // gui.domElement.style.position='absolute';
            // gui.domElement.style.top='645px';
            // gui.domElement.style.right='0px';

            return gui;
        })();




</script>
</body>
</html>