<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin_feedback.mapper.AdminFeedbackMapper">
    
    <resultMap type="AdminFeedback" id="AdminFeedbackResult">
        <result property="id"    column="id"    />
        <result property="feedbackId"    column="feedback_id"    />
        <result property="adminAnswer"    column="admin_answer"    />
        <result property="answerTime"    column="answer_time"    />
    </resultMap>

    <sql id="selectAdminFeedbackVo">
        select id, feedback_id, admin_answer, answer_time from admin_feedback
    </sql>

    <select id="selectAdminFeedbackList" parameterType="AdminFeedback" resultMap="AdminFeedbackResult">
        <include refid="selectAdminFeedbackVo"/>
        <where>  
            <if test="feedbackId != null "> and feedback_id = #{feedbackId}</if>
            <if test="adminAnswer != null  and adminAnswer != ''"> and admin_answer like concat('%', #{adminAnswer}, '%')</if>
            <if test="params.beginAnswerTime != null and params.beginAnswerTime != '' and params.endAnswerTime != null and params.endAnswerTime != ''"> and answer_time between #{params.beginAnswerTime} and #{params.endAnswerTime}</if>
        </where>
    </select>
    
    <select id="selectAdminFeedbackById" parameterType="Long" resultMap="AdminFeedbackResult">
        <include refid="selectAdminFeedbackVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAdminFeedback" parameterType="AdminFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into admin_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">feedback_id,</if>
            <if test="adminAnswer != null">admin_answer,</if>
            <if test="answerTime != null">answer_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">#{feedbackId},</if>
            <if test="adminAnswer != null">#{adminAnswer},</if>
            <if test="answerTime != null">#{answerTime},</if>
         </trim>
    </insert>

    <update id="updateAdminFeedback" parameterType="AdminFeedback">
        update admin_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="feedbackId != null">feedback_id = #{feedbackId},</if>
            <if test="adminAnswer != null">admin_answer = #{adminAnswer},</if>
            <if test="answerTime != null">answer_time = #{answerTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdminFeedbackById" parameterType="Long">
        delete from admin_feedback where id = #{id}
    </delete>

    <delete id="deleteAdminFeedbackByIds" parameterType="String">
        delete from admin_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>