<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yk.mapper.LandlordHouseMapper">
    
    <resultMap type="LandlordHouse" id="LandlordHouseResult">
        <result property="id"    column="id"    />
        <result property="houseName"    column="house_name"    />
        <result property="hostNumber"    column="host_number"    />
        <result property="address"    column="address"    />
        <result property="score"    column="score"    />
        <result property="registerTime"    column="register_time"    />
    </resultMap>

    <sql id="selectLandlordHouseVo">
        select id, house_name, host_number, address, score, register_time from landlord_house
    </sql>

    <select id="selectLandlordHouseList" parameterType="LandlordHouse" resultMap="LandlordHouseResult">
        <include refid="selectLandlordHouseVo"/>
        <where>  
            <if test="houseName != null  and houseName != ''"> and house_name like concat('%', #{houseName}, '%')</if>
            <if test="hostNumber != null  and hostNumber != ''"> and host_number = #{hostNumber}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="registerTime != null "> and register_time = #{registerTime}</if>
        </where>
    </select>
    
    <select id="selectLandlordHouseById" parameterType="Long" resultMap="LandlordHouseResult">
        <include refid="selectLandlordHouseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLandlordHouse" parameterType="LandlordHouse" useGeneratedKeys="true" keyProperty="id">
        insert into landlord_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="houseName != null and houseName != ''">house_name,</if>
            <if test="hostNumber != null and hostNumber != ''">host_number,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="score != null">score,</if>
            <if test="registerTime != null">register_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="houseName != null and houseName != ''">#{houseName},</if>
            <if test="hostNumber != null and hostNumber != ''">#{hostNumber},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="score != null">#{score},</if>
            <if test="registerTime != null">#{registerTime},</if>
         </trim>
    </insert>

    <update id="updateLandlordHouse" parameterType="LandlordHouse">
        update landlord_house
        <trim prefix="SET" suffixOverrides=",">
            <if test="houseName != null and houseName != ''">house_name = #{houseName},</if>
            <if test="hostNumber != null and hostNumber != ''">host_number = #{hostNumber},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="score != null">score = #{score},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLandlordHouseById" parameterType="Long">
        delete from landlord_house where id = #{id}
    </delete>

    <delete id="deleteLandlordHouseByIds" parameterType="String">
        delete from landlord_house where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>