<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改房iii间订购')" />
    <link href="../static/css/login.min.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="../static/assets/global/css/dynamic1.css" th:href="@{/assets/global/css/dynamic1.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="white-bg">

<div style="position: fixed">
    <canvas id="canvas"></canvas>
    <!--<h1>XM-05 民宿旅游系统</h1>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
    <script src="/js/dat.gui.min.js"></script>
    <script type="text/javascript">
        let settings = {
            amplitudeX: 150,
            amplitudeY: 20,
            lines: 30,
            startColor: '#500c44',
            endColor: '#b4d455'
        };

        const c = document.getElementById("canvas");
        const ctx1 = c.getContext("2d");
        let winW = window.innerWidth;
        let winH = window.innerHeight;
        let Paths = [];
        let color = [];
        let mouseY = 0;
        let mouseDown = false;
        let time = 0;
        let curves;
        let velocity;

        class Path {
            constructor(y, color) {
                this.y = y;
                this.color = color;
                this.root = [];
                this.create();
                this.draw();
            }

            create() {
                let rootX = 0;
                let rootY = this.y;

                this.root = [{ x: rootX, y: rootY }];

                while (rootX < winW) {
                    let casual = Math.random() > 0.5 ? 1 : -1;
                    let x = parseInt(
                        settings.amplitudeX / 2 + Math.random() * settings.amplitudeX / 2
                    );
                    let y = parseInt(rootY + casual * (settings.amplitudeY / 2 + Math.random() * settings.amplitudeY / 2));
                    rootX += x;
                    let delay = Math.random() * 100;
                    this.root.push({ x: rootX, y: y, height: rootY, casual: casual, delay: delay });
                }
            }

            draw() {
                ctx1.beginPath();
                ctx1.moveTo(0, winH);

                ctx1.lineTo(this.root[0].x, this.root[0].y);

                for (let i = 1; i < this.root.length - 1; i++) {

                    let x = this.root[i].x;
                    let y = this.root[i].y;
                    let nextX = this.root[i + 1].x;
                    let nextY = this.root[i + 1].y;

                    let xMid = (x + nextX) / 2;
                    let yMid = (y + nextY) / 2;
                    let cpX1 = (xMid + x) / 2;
                    let cpY1 = (yMid + y) / 2;
                    let cpX2 = (xMid + nextX) / 2;
                    let cpY2 = (yMid + nextY) / 2;

                    ctx1.quadraticCurveTo(cpX1, y, xMid, yMid);
                    ctx1.quadraticCurveTo(cpX2, nextY, nextX, nextY);
                }

                const lastPoint = this.root.reverse()[0];
                this.root.reverse();
                ctx1.lineTo(lastPoint.x, lastPoint.y);
                ctx1.lineTo(winW, winH);
                ctx1.fillStyle = this.color;
                ctx1.fill();
                ctx1.closePath();
            }
        }

        /* INIT */
        let path;
        function init() {
            c.width = winW;
            c.height = winH;
            Paths = [];

            color = chroma.scale([settings.startColor, settings.endColor])
                .mode('lch').colors(settings.lines);

            document.body.style = `background: ${settings.startColor}`;

            for (let i = 0; i < settings.lines; i++) {
                Paths.push(new Path(winH / settings.lines * i, color[i]));
                settings.startY = winH / settings.lines * i;
            }
        }

        /* WIN RESIZE */
        window.addEventListener('resize', function () {
            winW = window.innerWidth;
            winH = window.innerHeight;
            c.width = winW;
            c.height = winH;
            init();
        });
        window.dispatchEvent(new Event("resize"));
        // console.log("fffff");

        /* RENDER */
        function render() {
            c.width = winW;
            c.height = winH;

            curves = mouseDown ? 2 : 4;
            velocity = mouseDown ? 6 : 0.8;

            time += mouseDown ? 0.1 : 0.05 ;

            Paths.forEach(function (path, i) {
                path.root.forEach(function (r, j) {
                    if (j % curves == 1) {
                        let move = Math.sin(time + r.delay ) * velocity * r.casual;
                        r.y -= (move / 2) - move;
                    }
                    if (j + 1 % curves == 0) {
                        let move = Math.sin(time + r.delay ) * velocity * r.casual;
                        r.x += (move / 2) - move / 10;
                    }
                });

                path.draw();
            });

            requestAnimationFrame(render);
        }
        render();

        /* MOUSEDOWN */
        ('mousedown touchstart').split(' ').forEach(e => {
            document.addEventListener(e, function() {
                mouseDown = true;
            })
        });

        /* MOUSEUP */
        ('mouseup mouseleave touchend').split(' ').forEach(e => {
            document.addEventListener(e, function() {
                mouseDown = false;
            })
        });

        /* MOUSEMOVE */
        ('mousemove touchmove').split(' ').forEach(e => {
            document.addEventListener(e, function(e) {
                mouseY = e.clientY || e.touches[0].clientY;
            })
        });

        console.log("gggggg");

        /* DATA GUI */
        // const gui = (
        //     function datgui() {
        //         var gui = new dat.GUI();
        //         // dat.GUI.toggleHide();
        //         gui.closed = true;
        //         gui.add(settings, "amplitudeX", 40, 200).step(20).onChange(function(newValue) {
        //             init();
        //         });
        //         gui.add(settings, "amplitudeY", 0, 100).step(1).onChange(function(newValue) {
        //             init();
        //         });
        //         gui.add(settings, "lines", 5, 50).step(1).onChange(function(newValue) {
        //             init();
        //         });
        //         gui.addColor(settings, "startColor").onChange(function(newValue) {
        //
        //             init();
        //             document.querySelector('h1').innerHTML = 'or whatever you want';
        //         });
        //         gui.addColor(settings, "endColor").onChange(function(newValue) {
        //             init();
        //             document.querySelector('h1').innerHTML = 'or whatever you want';
        //         });
        //         gui.domElement.style.position='absolute';
        //         gui.domElement.style.top='745px';
        //         gui.domElement.style.right='0px';
        //
        //         return gui;
        //     })();


    </script>
</div>

<div class="wrapper wrapper-content filter"><!--wrapper wrapper-content animated fadeInRight ibox-content!-->
    <form class="form-horizontal m" id="form-buyRoom-buy" >
        <!--    <form class="form-horizontal m" id="form-buyroom-buy" th:object="${buyRoom}">-->
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">特产ID：</label>
            <div class="col-sm-8">
                <input name="houseId"  class="form-control" th:value="${id}" type="text" id="id" required disabled >
            </div>
        </div>
        <div class="form-group" hidden="">
            <label class="col-sm-3 control-label">民宿ID：</label>
            <div class="col-sm-8">
                <input name="houseId"  class="form-control" th:value="查询中" type="text" id="houseId" required disabled >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">民宿名称：</label>
            <div class="col-sm-8">
                <input name="houseName"  class="form-control" th:value="查询中" type="text" id="houseName" required disabled >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">特产名称：</label>
            <div class="col-sm-8">
                <input name="roomNumber" th:value="查询中" class="form-control" type="text" id="specialtyName" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">单价（￥）：</label>
            <div class="col-sm-8">
                <input name="pricePerDay" th:value="查询中" class="form-control" type="text" id="price" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">特产描述：</label>
            <div class="col-sm-8">
                <input name="standard" th:value="查询中" class="form-control" type="text" id="description" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">库存：</label>
            <div class="col-sm-8">
                <input name="isFree" th:value="查询中" class="form-control" type="text" id="inventory" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">评分：</label>
            <div class="col-sm-8">
                <input name="score" th:value="查询中" class="form-control" type="text" id="score" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">商家联系电话：</label>
            <div class="col-sm-8">
                <input name="isFree" class="form-control" th:value="查询中" type="text" id="phone" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">商家邮箱：</label>
            <div class="col-sm-8">
                <input name="isFree" class="form-control" th:value="查询中" type="text" id="mailbox" required disabled>
            </div>
        </div>
        <div id="showImage">
        </div>
        <div>
            <p style="text-align: center">
                <font size="5" color="aqua">特产展示</font>
            </p>
        </div>
        <div>
            <p style="text-align: right">
                <button th:style="'background:#1E90FF;border-style:none;color:#ffff;border-radius:10px;height:40px;width:70px'" name="dg" id="dg" onclick="dinggou()">我要下单</button>
                <button th:style="'background:#DCDCDC;border-style:none;color:#ffff;border-radius:5px;height:40px;width:70px'" name="qx" id="qx" onclick="cancel()">返回</button>
            </p>
        </div>
    </form>
    <div class="scroller" style="height: 341px;" data-always-visible="1" data-rail-visible1="1" id="showComment">
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: summernote-js" />
<script th:inline="javascript" >
    console.log("进入js");
    var specialtyName,houseId,description,price,inventory,phone,mailbox,houseName,score,imageUrl;
    var id=$("#id").val();
    console.log("id="+id);
    var data={};
    data.id=id;
    $.ajax({//获取房间信息
        type: 'post',
        url: '/system/buySpecialty/getSpecialtyInfo',
        async: false,
        data: data,
        success: function(res) {
            console.log(res);
            let json = eval( "(" + res + ")" );
            specialtyName= json.specialtyName;
            houseId=json.houseId;
            description=json.description;
            price=json.price;
            inventory=json.inventory;
            phone=json.phone;
            mailbox=json.mailbox;
            houseName=json.houseName;
            imageUrl=json.imageUrl;
        }
    });
    document.getElementById("specialtyName").value=specialtyName;
    document.getElementById("houseId").value=houseId;
    document.getElementById("description").value=description;
    document.getElementById("price").value=price;
    document.getElementById("inventory").value=inventory;
    document.getElementById("phone").value=phone;
    document.getElementById("mailbox").value=mailbox;
    document.getElementById("houseName").value=houseName;
    var imageStr="<p style='text-align: center'>\n" +
        "                <img src='"+imageUrl+"' alt='无法显示图片' th:width='600' height='400'>\n" +
        "            </p>";
    document.getElementById("showImage").innerHTML=imageStr;


    $.ajax({//获取评价信息
        type: 'post',
        url: '/system/buySpecialty/getComment',
        async: false,
        data: data,
        success: function(res) {
            console.log(res);
            let json = eval( "(" + res + ")" );
            if(json.score==-1){
                document.getElementById("score").value="暂无人评分";
            }
            else{
                score=json.score;
                score=score+"（已有"+json.scoreNumber+"人评分）";
                document.getElementById("score").value=score;
            }

            var str="<ul class='chats'>\n";
            for(var i=0;i<json.allComment.length;i++){
                str=str+"<li class='in'>\n" +
                    "                <img src='https://pic1.zhimg.com/80/v2-b31f71b9dbfc90cd5897e052075c6a90_720w.webp'  class='img-circle' alt='User Image' th:width='50' height='50'/>\n" +
                    "                <div class='message'>\n" +
                    "                        <span class='arrow'></span>\n" +
                    "                    <a href='javascript:;' class='name' >"+json.allComment[i].name+"：</a>\n" +
                    "                    <span class='body'>"+json.allComment[i].comment+"</span>\n" +
                    "                </div>\n" +
                    "            </li>\n";
            }
            str=str+" </ul>";

            document.getElementById("showComment").innerHTML=str;
        }
    });

    const gui = (
        function datgui() {
            var gui = new dat.GUI();
            // dat.GUI.toggleHide();
            gui.closed = true;
            gui.add(settings, "amplitudeX", 40, 200).step(20).onChange(function(newValue) {
                init();
            });
            gui.add(settings, "amplitudeY", 0, 100).step(1).onChange(function(newValue) {
                init();
            });
            gui.add(settings, "lines", 5, 50).step(1).onChange(function(newValue) {
                init();
            });
            gui.addColor(settings, "startColor").onChange(function(newValue) {

                init();
                document.querySelector('h1').innerHTML = 'or whatever you want';
            });
            gui.addColor(settings, "endColor").onChange(function(newValue) {
                init();
                document.querySelector('h1').innerHTML = 'or whatever you want';
            });
            // gui.domElement.style.position='absolute';
            // gui.domElement.style.top='645px';
            // gui.domElement.style.right='0px';

            return gui;
        })();


    function dinggou() {
        console.log("这里是订购函数");
        if(inventory==0){
            //alert("此房间已预定");
            top.layer.alert("此特产暂无库存");
        }
        else{
            var url="system/buySpecialty/infopage/"+id;
            $.modal.openTab("订购支付",url);
        }
    }

    function cancel() {
        parent.location.reload();
    }

</script>


</body>


</html>
