<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <style>
        @media print {
            .fixed-table-toolbar {
                display: none;
            }

            .noprint {
                display: none;
            }

            .fixed-table-pagination {
                display: none !important;
            }

        }
        @page {
            size: auto;
            margin: 0mm;
        }
    </style>
    <th:block th:include="include :: header('房间管理列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>民宿名称：</label>
                            <input type="text" name="houseName"/>
                        </li>
                        <li>
                            <label>房间号：</label>
                            <input type="text" name="roomNumber"/>
                        </li>
                        <li>
                            <label>每日价格：</label>
                            <input type="text" name="pricePerDay"/>
                        </li>
                        <li>
                            <label>房间标准：</label>
                            <input type="text" name="standard" placeholder="单/双/三人间"/>
                        </li>
                        <li>
                            <label>空闲：</label>
                            <input type="number" name="isFree" oninput="if(value!=0)value=1" placeholder="是：1，否：0"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm noprint" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:room:add">
                <i class="fa fa-plus"></i> 上传房间
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:room:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:room:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:room:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-success" onclick="$.modal.openTab('房源统计', '/system/room/statistics');" shiro:hasPermission="system:room:statistics">
                <i class="fa fa-plus"></i> 统计
            </a>
            <a class="btn btn-success" onclick="printHtml();" shiro:hasPermission="xxxx:xxxx:print">
                <i class="glyphicon glyphicon-print icon-share"></i> 打印
            </a>
        </div>
        <div class="col-sm-12 select-table table‐bordered noprint" id="prints" style="width: 100%;">
            <!--<table id="bootstrap-table" style="width: 100%;white-space: nowrap;  "></table>-->
            <!--超长冒号显示会影响打印-->
            <table id="bootstrap-table" style="width: 100%;word-break:break-all; word-wrap:break-all; "></table>
        </div>
        <!--            <div class="col-sm-12 select-table table-striped">-->
        <!--                <table id="bootstrap-table"></table>-->
        <!--            </div>-->
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:room:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:room:remove')}]];
    var prefix = ctx + "system/room";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "房间管理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'houseId',
                    title: '民宿ID',
                    sortable: 'true',
                    visible: false
                },
                {
                    field: 'houseName',
                    title: '民宿名称',
                    sortable: 'true'
                },
                {
                    field: 'roomNumber',
                    title: '房间号',
                    sortable: 'true'
                },
                {
                    field: 'pricePerDay',
                    title: '每日价格',
                    sortable: 'true'
                },
                {
                    field: 'standard',
                    title: '房间标准',
                    sortable: 'true'
                },
                {
                    field: 'isFree',
                    title: '空闲',
                    sortable: 'true',
                    formatter:function (value) {
                        if(value==1)value="是";
                        else value="否";
                        return value;
                    }
                },
                {
                    title: '操作',
                    field: 'caozuo',
                    width: '150px',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>修改信息</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function printHtml() {
        $("#prints").removeClass("noprint");
        //隐藏操作列
        $.table.hideColumn('caozuo');
        window.print();
        $("#option").addClass("noprint");
        //显示操作列
        $.table.showColumn('caozuo');
    }


</script>
</body>
</html>