<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.landlordhomeorder.mapper.LandlordRoomRecordMapper">

    <resultMap type="LandlordRoomRecord" id="LandlordRoomRecordResult">
        <result property="id"    column="id"    />
        <result property="clientNumber"    column="client_number"    />
        <result property="loginName"    column="login_name"    />
        <result property="clientName"    column="user_name"    />
        <result property="roomId"    column="room_id"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="houseName"    column="house_name"    />
        <result property="buyTime"    column="buy_time"    />
        <result property="checkInDate"    column="check_in_date"    />
        <result property="checkOutDate"    column="check_out_date"    />
        <result property="reserveInDate"    column="reserve_in_date"    />
        <result property="reserveOutDate"    column="reserve_out_date"    />
        <result property="price"    column="price"    />
        <result property="isPaid"    column="is_paid"    />
        <result property="isDone"    column="is_done"    />
        <result property="roomRecordId"    column="room_record_id"    />
        <result property="score"    column="score"    />
        <result property="comment"    column="comment"    />
        <result property="photo"    column="photo"    />
        <result property="path"    column="path"    />
    </resultMap>

    <sql id="selectLandlordRoomRecordVo">
        select client_room_record.id as id,client_number,user_name, room_id,room_number,house_name,buy_time,check_in_date, check_out_date, reserve_in_date, reserve_out_date, price, is_paid, is_done from client_room_record join sys_user join landlord_house join house_room where client_number=user_id and room_id = house_room.id and house_room.house_id =landlord_house.id and house_room.house_id in (select id from landlord_house where host_number=(select user_id from sys_user where user_name =  #{userName}))
    </sql>

    <select id="selectLandlordRoomRecordList" parameterType="LandlordRoomRecord" resultMap="LandlordRoomRecordResult">
        <include refid="selectLandlordRoomRecordVo"/>
            <if test="id != null "> and id = #{id}</if>
            <if test="clientNumber != null "> and client_number = #{clientNumber}</if>
        <if test="clientName != '' "> and user_name = #{clientName}</if>
            <if test="roomId != null "> and room_id = #{roomId}</if>
            <if test="roomNumber != null "> and room_number = #{roomNumber}</if>
            <if test="houseName != '' "> and house_name = #{houseName}</if>
            <if test="buyTime != null "> and buy_time = #{buyTime}</if>
            <if test="checkInDate != null "> and check_in_date = #{checkInDate}</if>
            <if test="checkOutDate != null "> and check_out_date = #{checkOutDate}</if>
            <if test="reserveInDate != null "> and reserve_in_date = #{reserveInDate}</if>
            <if test="reserveOutDate != null "> and reserve_out_date = #{reserveOutDate}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="isPaid != null "> and is_paid = #{isPaid}</if>
            <if test="isDone != null "> and is_done = #{isDone}</if>
    </select>

    <select id="selectLandlordRoomRecordById" parameterType="Long" resultMap="LandlordRoomRecordResult">
select client_room_record.id as id,client_number,user_name, room_id,room_number,house_name,buy_time,check_in_date, check_out_date, reserve_in_date, reserve_out_date, price, is_paid, is_done  from client_room_record join sys_user join landlord_house join house_room where client_room_record.id  = #{id} and room_id =house_room.id and house_room.house_id=landlord_house.id and client_room_record.client_number=sys_user.user_id
    </select>

    <select id="selectLandlordRoomCommentRecordById" parameterType="Long" resultMap="LandlordRoomRecordResult">
         select id,room_record_id,max(score) as score,max(comment) as comment,photo from client_room_comment where room_record_id = #{id}
    </select>

    <select id="selectRoomID" parameterType="LandlordRoomRecord" resultMap="LandlordRoomRecordResult">
       select house_room.id as room_id
from house_room join landlord_house
where house_room.house_id = landlord_house.id and landlord_house.house_name=#{houseName} and house_room.room_number=#{roomNumber}

    </select>

    <insert id="insertLandlordRoomRecord" parameterType="LandlordRoomRecord" useGeneratedKeys="true" keyProperty="id">
        insert into client_room_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientNumber != null">client_number,</if>
            <if test="roomId != null">room_id,</if>
            <if test="checkInDate != null">check_in_date,</if>
            <if test="checkOutDate != null">check_out_date,</if>
            <if test="reserveInDate != null">reserve_in_date,</if>
            <if test="reserveOutDate != null">reserve_out_date,</if>
            <if test="price != null">price,</if>
            <if test="isPaid != null">is_paid,</if>
            <if test="isDone != null">is_done,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientNumber != null">#{clientNumber},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="checkInDate != null">#{checkInDate},</if>
            <if test="checkOutDate != null">#{checkOutDate},</if>
            <if test="reserveInDate != null">#{reserveInDate},</if>
            <if test="reserveOutDate != null">#{reserveOutDate},</if>
            <if test="price != null">#{price},</if>
            <if test="isPaid != null">#{isPaid},</if>
            <if test="isDone != null">#{isDone},</if>
        </trim>
    </insert>

    <update id="updateLandlordRoomRecord" parameterType="LandlordRoomRecord">
        update client_room_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientNumber != null">client_number = #{clientNumber},</if>
            <if test="roomNumber != null">room_id = (select id from house_room where room_number=#{roomNumber}),</if>
            <if test="buyTime != null ">  buy_time = #{buyTime},</if>
            <if test="checkInDate != null">check_in_date = #{checkInDate},</if>
            <if test="checkOutDate != null">check_out_date = #{checkOutDate},</if>
            <if test="reserveInDate != null">reserve_in_date = #{reserveInDate},</if>
            <if test="reserveOutDate != null">reserve_out_date = #{reserveOutDate},</if>
            <if test="price != null">price = #{price},</if>
            <if test="isPaid != null">is_paid = #{isPaid},</if>
            <if test="isDone != null">is_done = #{isDone},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateLandlordRoomCommentRecord" parameterType="LandlordRoomRecord">
        update client_room_comment
        <trim prefix="SET" suffixOverrides=",">
            room_record_id = #{roomRecordId},
            score = #{score},
            comment= #{comment},
            photo= #{photo},
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLandlordRoomRecordById" parameterType="Long">
        delete from client_room_record where id = #{id}
    </delete>

    <delete id="deleteLandlordRoomRecordByIds" parameterType="String">
        delete from client_room_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>