<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增我要反馈')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-client_landlord_feedback-add">
            <div class="form-group">    
<!--                <label class="col-sm-3 control-label is-required">账号：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="userNumber" class="form-control" type="text" required>-->
<!--                </div>-->
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">反馈内容：</label>
                <div class="col-sm-8">
                    <input name="feedbackContent" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">反馈时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="feedbackTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "client_landlord_feedback/client_landlord_feedback"
        $("#form-client_landlord_feedback-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-client_landlord_feedback-add').serialize());
            }
        }

        $("input[name='feedbackTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>