<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">

	<div class="ui-layout-center">
		<div class="container-div">
			<div class="row">
		        <div class="col-sm-12 select-table table-striped">
				    <table id="bootstrap-table"></table>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<script th:inline="javascript">
		var prefix = ctx + "system/user";

		$(function() {
		    var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 185 });
	     	// 回到顶部绑定
	    	if ($.fn.toTop !== undefined) {
	    		var opt = {
	    			win:$('.ui-layout-center'),
	    			doc:$('.ui-layout-center')
	    		};
	    		$('#scroll-up').toTop(opt);
	    	}
		    queryUserList();
		});

		function queryUserList() {
		    var options = {
		        url: prefix + "/list",
		        sortName: "userId",
		        sortOrder: "asc",
		        modalName: "用户",
				pageSize: 1000000,
				caption: 'abc',
				columns: [
		        {
		            field: 'userId',
		            title: '用户ID'
		        },{
		            field: 'loginName',
		            title: '登录账号'
		        },
		        {
		            field: 'userName',
		            title: '用户名称'
		        },
				{
		            field: 'email',
		            title: '邮箱',
		            visible: false
		        },
		        {
		            field: 'phonenumber',
		            title: '手机'
		        },{
						field: 'province',
						title: '省份'
				},{
				field: 'money',
				title: '余额'
				},
		        {
		        	title: '用户状态',
		        	align: 'center',
		        	formatter: function (value, row, index) {
						return row.status == 0 ? '激活' : '冻结';
		        	}
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true
		        }]
		    };
		    $.table.init(options);
		}

	</script>
</body>
</html>