<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('地图管理列表')" />


</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>民宿名称：</label>
                                <input type="text" name="houseName"/>
                            </li>
                            <li>
                                <label>民宿地址：</label>
                                <input type="text" name="address"/>
                            </li>
                            <li>
                                <label>所在城市：</label>
                                <input type="text" name="city"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
<!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="housesgps:gps:add">-->
<!--                    <i class="fa fa-plus"></i> 添加-->
<!--                </a>-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="housesgps:gps:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="housesgps:gps:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
                <a class="btn btn-success" onclick="$.table.exportExcel()" shiro:hasPermission="housesgps:gps:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-success" onclick="printHtml();" shiro:hasPermission="housesgps:gps:print">
                    <i class="glyphicon glyphicon-print icon-share"></i> 打印
                </a>

                <a class="btn btn-warning" onclick="$.modal.openTab('地图查找', '/housesgps/gps/baiduapi');" shiro:hasPermission="housesgps:gps:baiduapi">
                    <i class="fa fa-plus"></i> 地图查找
                </a>
            </div>
<!--            <div class="col-sm-12 select-table table-striped">-->
<!--                <table id="bootstrap-table"></table>-->
<!--            </div>-->
            <div class="col-sm-12 select-table table‐bordered noprint" id="prints" style="width: 100%;">
                <!--<table id="bootstrap-table" style="width: 100%;white-space: nowrap;  "></table>-->
                <!--超长冒号显示会影响打印-->
                <table id="bootstrap-table" style="width: 100%;word-break:break-all; word-wrap:break-all; "></table>
            </div>

        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('housesgps:gps:edit')}]];
        var removeFlag = [[${@permission.hasPermi('housesgps:gps:remove')}]];
        var houseaddressFlag = [[${@permission.hasPermi('housesgps:gps:houseaddress')}]];
        var prefix = ctx + "housesgps/gps";
        // 自定义打印页面模板
        function printHtml() {
            $("#prints").removeClass("noprint");
            //隐藏操作列
            $.table.hideColumn('chaozuo');
            window.print();
            $("#option").addClass("noprint");
            //显示操作列
            $.table.showColumn('chaozuo');
        }


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                houseaddressUrl: prefix + "/houseaddress/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "地图管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'houseName',
                    title: '民宿名称',
                    sortable:true
                },
                {
                    field: 'city',
                    title: '所在城市',
                    sortable:true
                }
                ,
                {
                    field: 'address',
                    title: '民宿地址',
                    sortable:true
                },
                {
                    title: '操作',
                    align: 'center',
                    field: 'chaozuo',
                    width: '150px',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + houseaddressFlag + '" href="javascript:void(0)" onclick="$.operate.houseaddressTab(\'' + row.id + '\')"><i class="fa fa-search"></i>定位</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
<style>
    @media print {
        .fixed-table-toolbar {
            display: none;
        }

        .noprint {
            display: none;
        }

        .fixed-table-pagination {
            display: none !important;
        }

    }
    @page {
        size: auto;
        margin: 0mm;
    }
</style>