<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <style>
        @media print {
            .fixed-table-toolbar {
                display: none;
            }

            .noprint {
                display: none;
            }

            .fixed-table-pagination {
                display: none !important;
            }

        }
        @page {
            size: auto;
            margin: 0mm;
        }
    </style>
    <th:block th:include="include :: header('房间订购列表')" />
    <link href="../static/css/login.min.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="../static/assets/global/css/dynamic1.css" th:href="@{/assets/global/css/dynamic1.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="gray-bg">


<div style="position: fixed">
<canvas id="canvas"></canvas>
<!--<h1>XM-05 民宿旅游系统</h1>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
<script src="/js/dat.gui.min.js"></script>
<script type="text/javascript">
    let settings = {
        amplitudeX: 150,
        amplitudeY: 20,
        lines: 30,
        startColor: '#500c44',
        endColor: '#b4d455'
    };

    const c = document.getElementById("canvas");
    const ctx1 = c.getContext("2d");
    let winW = window.innerWidth;
    let winH = window.innerHeight;
    let Paths = [];
    let color = [];
    let mouseY = 0;
    let mouseDown = false;
    let time = 0;
    let curves;
    let velocity;

    class Path {
        constructor(y, color) {
            this.y = y;
            this.color = color;
            this.root = [];
            this.create();
            this.draw();
        }

        create() {
            let rootX = 0;
            let rootY = this.y;

            this.root = [{ x: rootX, y: rootY }];

            while (rootX < winW) {
                let casual = Math.random() > 0.5 ? 1 : -1;
                let x = parseInt(
                    settings.amplitudeX / 2 + Math.random() * settings.amplitudeX / 2
                );
                let y = parseInt(rootY + casual * (settings.amplitudeY / 2 + Math.random() * settings.amplitudeY / 2));
                rootX += x;
                let delay = Math.random() * 100;
                this.root.push({ x: rootX, y: y, height: rootY, casual: casual, delay: delay });
            }
        }

        draw() {
            ctx1.beginPath();
            ctx1.moveTo(0, winH);

            ctx1.lineTo(this.root[0].x, this.root[0].y);

            for (let i = 1; i < this.root.length - 1; i++) {

                let x = this.root[i].x;
                let y = this.root[i].y;
                let nextX = this.root[i + 1].x;
                let nextY = this.root[i + 1].y;

                let xMid = (x + nextX) / 2;
                let yMid = (y + nextY) / 2;
                let cpX1 = (xMid + x) / 2;
                let cpY1 = (yMid + y) / 2;
                let cpX2 = (xMid + nextX) / 2;
                let cpY2 = (yMid + nextY) / 2;

                ctx1.quadraticCurveTo(cpX1, y, xMid, yMid);
                ctx1.quadraticCurveTo(cpX2, nextY, nextX, nextY);
            }

            const lastPoint = this.root.reverse()[0];
            this.root.reverse();
            ctx1.lineTo(lastPoint.x, lastPoint.y);
            ctx1.lineTo(winW, winH);
            ctx1.fillStyle = this.color;
            ctx1.fill();
            ctx1.closePath();
        }
    }

    /* INIT */
    let path;
    function init() {
        c.width = winW;
        c.height = winH;
        Paths = [];

        color = chroma.scale([settings.startColor, settings.endColor])
            .mode('lch').colors(settings.lines);

        document.body.style = `background: ${settings.startColor}`;

        for (let i = 0; i < settings.lines; i++) {
            Paths.push(new Path(winH / settings.lines * i, color[i]));
            settings.startY = winH / settings.lines * i;
        }
    }

    /* WIN RESIZE */
    window.addEventListener('resize', function () {
        winW = window.innerWidth;
        winH = window.innerHeight;
        c.width = winW;
        c.height = winH;
        init();
    });
    window.dispatchEvent(new Event("resize"));
    // console.log("fffff");

    /* RENDER */
    function render() {
        c.width = winW;
        c.height = winH;

        curves = mouseDown ? 2 : 4;
        velocity = mouseDown ? 6 : 0.8;

        time += mouseDown ? 0.1 : 0.05 ;

        Paths.forEach(function (path, i) {
            path.root.forEach(function (r, j) {
                if (j % curves == 1) {
                    let move = Math.sin(time + r.delay ) * velocity * r.casual;
                    r.y -= (move / 2) - move;
                }
                if (j + 1 % curves == 0) {
                    let move = Math.sin(time + r.delay ) * velocity * r.casual;
                    r.x += (move / 2) - move / 10;
                }
            });

            path.draw();
        });

        requestAnimationFrame(render);
    }
    render();

    /* MOUSEDOWN */
    ('mousedown touchstart').split(' ').forEach(e => {
        document.addEventListener(e, function() {
            mouseDown = true;
        })
    });

    /* MOUSEUP */
    ('mouseup mouseleave touchend').split(' ').forEach(e => {
        document.addEventListener(e, function() {
            mouseDown = false;
        })
    });

    /* MOUSEMOVE */
    ('mousemove touchmove').split(' ').forEach(e => {
        document.addEventListener(e, function(e) {
            mouseY = e.clientY || e.touches[0].clientY;
        })
    });

     console.log("gggggg");

    /* DATA GUI */
    // const gui = (
    //     function datgui() {
    //         var gui = new dat.GUI();
    //         // dat.GUI.toggleHide();
    //         gui.closed = true;
    //         gui.add(settings, "amplitudeX", 40, 200).step(20).onChange(function(newValue) {
    //             init();
    //         });
    //         gui.add(settings, "amplitudeY", 0, 100).step(1).onChange(function(newValue) {
    //             init();
    //         });
    //         gui.add(settings, "lines", 5, 50).step(1).onChange(function(newValue) {
    //             init();
    //         });
    //         gui.addColor(settings, "startColor").onChange(function(newValue) {
    //
    //             init();
    //             document.querySelector('h1').innerHTML = 'or whatever you want';
    //         });
    //         gui.addColor(settings, "endColor").onChange(function(newValue) {
    //             init();
    //             document.querySelector('h1').innerHTML = 'or whatever you want';
    //         });
    //         gui.domElement.style.position='absolute';
    //         gui.domElement.style.top='745px';
    //         gui.domElement.style.right='0px';
    //
    //         return gui;
    //     })();


</script>
</div>


<div class="container-div filter">
    <div class="row" style="opacity: 0.8;">
        <div class="col-sm-12 search-collapse">
            <form id="formId" >
                <div class="select-list">
                    <ul>
                        <li>
                            <label>民宿名称：</label>
                            <input type="text" name="houseName"/>
                        </li>
                        <li>
                            <label>房间号：</label>
                            <input type="text" name="roomNumber"/>
                        </li>
<!--                        <li>-->
<!--                            <label>每日价格：</label>-->
<!--                            <input type="text" name="pricePerDay"/>-->
<!--                        </li>-->
                        <li>
                            <label>房间标准：</label>
                            <select class="form-control"  name="standard">
                                <option value="">请选择</option>
                                <option value="单人间">单人间</option>
                                <option value="双人间">双人间</option>
                                <option value="三人间">三人间</option>
                            </select>
                        </li>
                        <li>
                            <label>空闲：</label>
                            <select class="form-control"  name="isFree">
                                <option value="">请选择</option>
                                <option value=1>是</option>
                                <option value=0>否</option>
                            </select>
                        </li>
                        <li>
                            <label>每日价格范围：</label>
                            <input type="number" name="pricePerDayDown" style="width:80px" value="1" oninput="if(value<1)value=1;if(value>9999)value=9999"/>元      到
                            <input type="number" name="pricePerDayUp" style="width:80px" value="9999" oninput="if(value<1)value=1;if(value>9999)value=9999"/>元
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm noprint" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:buyroom:add">-->
            <!--                    <i class="fa fa-plus"></i> 添加-->
            <!--                </a>-->
            <!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:buyroom:edit">-->
            <!--                    <i class="fa fa-edit"></i> 修改-->
            <!--                </a>-->
            <!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:buyroom:remove">-->
            <!--                    <i class="fa fa-remove"></i> 删除-->
            <!--                </a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" >
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-success" onclick="$.modal.openTab('民宿订购统计', '/system/buyroom/statistics');" >
                <i class="fa fa-plus"></i> 统计
            </a>
            <a class="btn btn-success" onclick="printHtml();" >
                <i class="glyphicon glyphicon-print icon-share"></i> 打印
            </a>
        </div>
        <div class="col-sm-12 select-table table‐bordered noprint" id="prints" style="width: 100%;">
            <!--<table id="bootstrap-table" style="width: 100%;white-space: nowrap;  "></table>-->
            <!--超长冒号显示会影响打印-->
            <table id="bootstrap-table" style="width: 100%;word-break:break-all; word-wrap:break-all; "></table>
        </div>
        <!--        <div class="col-sm-12 select-table table-striped">-->
        <!--            <table id="bootstrap-table"></table>-->
        <!--        </div>-->
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:buyroom:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:buyroom:remove')}]];
    var buyFlag = [[${@permission.hasPermi('system:buyroom:buy')}]];
    var prefix = ctx + "system/buyroom";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "房间订购",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'houseId',
                    title: '民宿ID',
                    sortable: 'true',
                    visible: false
                },
                {
                    field:'houseName',
                    title: '民宿名称',
                },
                {
                    field: 'roomNumber',
                    title: '房间号',
                    sortable: 'true'
                },
                {
                    field: 'pricePerDay',
                    title: '每日价格',
                    sortable: 'true'
                },
                {
                    field: 'standard',
                    title: '房间标准',
                    sortable: 'true'
                },
                {
                    field: 'isFree',
                    title: '空闲',
                    sortable: 'true',
                    formatter:function (value) {
                        if(value==1)value="是";
                        else value="否";
                        return value;
                    }
                },
                {
                    title: '操作',
                    field: 'caozuo',
                    width: '150px',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        //actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>详情页查看</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        //actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-search"></i>编辑</a> ');
                        actions.push("<a class='btn btn-success btn-xs ' href='javascript:void(0)' onclick='buy(" + row.id + ")'><i class='fa fa-search'></i>详情页查看</a>");
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    const gui = (
        function datgui() {
            var gui = new dat.GUI();
            // dat.GUI.toggleHide();
            gui.closed = true;
            gui.add(settings, "amplitudeX", 40, 200).step(20).onChange(function(newValue) {
                init();
            });
            gui.add(settings, "amplitudeY", 0, 100).step(1).onChange(function(newValue) {
                init();
            });
            gui.add(settings, "lines", 5, 50).step(1).onChange(function(newValue) {
                init();
            });
            gui.addColor(settings, "startColor").onChange(function(newValue) {

                init();
                document.querySelector('h1').innerHTML = 'or whatever you want';
            });
            gui.addColor(settings, "endColor").onChange(function(newValue) {
                init();
                document.querySelector('h1').innerHTML = 'or whatever you want';
            });
            // gui.domElement.style.position='absolute';
            // gui.domElement.style.top='645px';
            // gui.domElement.style.right='0px';

            return gui;
        })();

    function buy(id) {
        var url = prefix + '/buy/' + id;
        $.modal.openTab("详情页", url);
    }



    function printHtml() {
        $("#prints").removeClass("noprint");
        //隐藏操作列
        $.table.hideColumn('caozuo');
        window.print();
        $("#option").addClass("noprint");
        //显示操作列
        $.table.showColumn('caozuo');
    }





</script>
</body>
</html>