<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改房iii间订购')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-buyroom-edit" th:object="${buyRoom}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">民宿ID：</label>
            <div class="col-sm-8">
                <input name="houseId" th:field="${buyRoom.houseId}" class="form-control" type="text" id="houseId" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">房间号：</label>
            <div class="col-sm-8">
                <input name="roomNumber" th:field="*{roomNumber}" class="form-control" type="text" id="roomNumber" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">每日价格（￥）：</label>
            <div class="col-sm-8">
                <input name="pricePerDay" th:field="*{pricePerDay}" class="form-control" type="text" id="price" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">房间标准：</label>
            <div class="col-sm-8">
                <input name="standard" th:field="*{standard}" class="form-control" type="text" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">空闲：</label>
            <div class="col-sm-8">
                <input name="isFree" th:field="*{isFree}" class="form-control" type="text" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">商家联系电话</label>
            <!--                <label class="col-sm-3 control-label">17208271247</label>-->
            <div class="col-sm-8">
                <input name="isFree" class="form-control" type="text" value="17208271247" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">商家邮箱</label>
            <div class="col-sm-8">
                <input name="isFree" class="form-control" type="text" value="2892036573@qq.com" required disabled>
            </div>
        </div>
<!--        <div>-->
<!--            <p style="text-align: center">-->
<!--                &lt;!&ndash;                    <img th:src="@{/img/login-background.jpg} " th:onerror="this.src='img/profile.jpg'" alt="User Image" th:width="300" height="200">&ndash;&gt;-->
<!--                <img th:src="@{/img/profile.jpg} " th:onerror="this.src='img/test.png'" alt="User Image" th:width="300" height="200">-->
<!--            </p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <p style="text-align: center">-->
<!--                <label>民宿图片</label>-->
<!--            </p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <p style="text-align: right">-->
<!--                <button th:style="'background:#1E90FF;border-style:none;color:#ffff;border-radius:5px;height:30px;width:50px'" name="dg" id="dg" onclick="dinggou()">订购</button>-->
<!--            </p>-->
<!--        </div>-->
    </form>
<!--    <div class="scroller" style="height: 341px;" data-always-visible="1" data-rail-visible1="1">-->
<!--        <ul class="chats">-->
<!--            <li class="in">-->
<!--                <img th:src="@{/img/profile.jpg} " th:onerror="this.src='img/profile.jpg'" class="img-circle" alt="User Image" th:width="50" height="50">-->
<!--                &lt;!&ndash;                    <img class="img-circle" th:width="50" height="50" alt="" src="../static/img/profile.jpg"/>&ndash;&gt;-->
<!--                <div class="message">-->
<!--                        <span class="arrow">-->
<!--                        </span>-->
<!--                    <a href="javascript:;" class="name">-->
<!--                        Bob Nilson </a>-->
<!--                    <span class="datetime">-->
<!--                            at 20:09 </span>-->
<!--                    <span class="body">-->
<!--                            好。 </span>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="out">-->
<!--                <img th:src="@{/img/profile.jpg} " th:onerror="this.src='img/profile.jpg'" class="img-circle" alt="User Image" th:width="50" height="50">-->
<!--                <div class="message">-->
<!--                        <span class="arrow">-->
<!--                        </span>-->
<!--                    <a href="javascript:;" class="name">-->
<!--                        Lisa Wong </a>-->
<!--                    <span class="datetime">-->
<!--                            at 20:11 </span>-->
<!--                    <span class="body">-->
<!--                           很好。</span>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="in">-->
<!--                <img th:src="@{/img/profile.jpg} " th:onerror="this.src='img/profile.jpg'" class="img-circle" alt="User Image" th:width="50" height="50">-->
<!--                <div class="message">-->
<!--                        <span class="arrow">-->
<!--                        </span>-->
<!--                    <a href="javascript:;" class="name">-->
<!--                        Bob Nilson </a>-->
<!--                    <span class="datetime">-->
<!--                            at 20:30 </span>-->
<!--                    <span class="body">-->
<!--                            非常好！ </span>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</div>
<!--    <th:block th:include="include :: footer" />-->
<!--    <script th:inline="javascript">-->
<!--        var prefix = ctx + "system/buyroom";-->
<!--        $("#form-buyroom-edit").validate({-->
<!--            focusCleanup: true-->
<!--        });-->

<!--        function submitHandler() {-->
<!--            if ($.validate.form()) {-->
<!--                $.operate.save(prefix + "/edit", $('#form-buyroom-edit').serialize());-->
<!--            }-->
<!--        }-->
<!--    </script>-->



<!--    &lt;!&ndash;<script src="../../../static/js/jquery.min.js" type="text/javascript"></script>&ndash;&gt;-->
<th:block th:include="include :: footer" />
<th:block th:include="include :: summernote-js" />
<!--<script th:inline="javascript" >-->
<!--    //console.log("uuuuuuuuuuuuiyyyyyyyyiiiii");-->
<!--    function dinggou(){-->
<!--        console.log('1tttttttttt');-->
<!--        var data={};-->
<!--        data.houseId=$("#houseId").val();-->
<!--        data.roomNumber=$("#roomNumber").val();-->
<!--        data.price=$("#price").val();-->
<!--        $.ajax({-->
<!--            type: "post",-->
<!--            url: "/system/buyroom/ff",-->
<!--            data:  data,-->
<!--            timeout:500,-->
<!--            success: function(result){-->
<!--                alert("ajax");-->
<!--                console.log(result);-->
<!--                let json = eval( "(" + result + ")" );-->
<!--                console.log(result.result_msg);-->
<!--                //let json = eval( "(" + res + ")" );-->
<!--                if (1){-->
<!--                    alert("订购成功");-->
<!--                }else{-->
<!--                    alert("订购失败");-->
<!--                }-->
<!--            },-->
<!--            error: function (e) {-->
<!--                console.log("failed here");-->
<!--                console.log(e);-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->


</body>



</html>