<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.landlordspecialtyorder.mapper.LandlordSpecialtyRecordMapper">
    
    <resultMap type="LandlordSpecialtyRecord" id="LandlordSpecialtyRecordResult">
        <result property="id"    column="id"    />
        <result property="clientNumber"    column="client_number"    />
        <result property="specialtyId"    column="specialty_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="price"    column="price"    />
        <result property="orderTime"    column="order_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="isReceived"    column="is_received"    />
        <result property="isPaid"    column="is_paid"    />
        <result property="isDone"    column="is_done"    />
    </resultMap>

    <sql id="selectLandlordSpecialtyRecordVo">
        select id, client_number, specialty_id, quantity, price, order_time, finish_time, is_received, is_paid, is_done from client_specialty_record
    </sql>

    <select id="selectLandlordSpecialtyRecordList" parameterType="LandlordSpecialtyRecord" resultMap="LandlordSpecialtyRecordResult">
        <include refid="selectLandlordSpecialtyRecordVo"/>
        <where>  
            <if test="clientNumber != null "> and client_number = #{clientNumber}</if>
            <if test="specialtyId != null "> and specialty_id = #{specialtyId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="orderTime != null "> and order_time = #{orderTime}</if>
            <if test="finishTime != null "> and finish_time = #{finishTime}</if>
            <if test="isReceived != null "> and is_received = #{isReceived}</if>
            <if test="isPaid != null "> and is_paid = #{isPaid}</if>
            <if test="isDone != null "> and is_done = #{isDone}</if>
        </where>
    </select>
    
    <select id="selectLandlordSpecialtyRecordById" parameterType="Long" resultMap="LandlordSpecialtyRecordResult">
        <include refid="selectLandlordSpecialtyRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLandlordSpecialtyRecord" parameterType="LandlordSpecialtyRecord" useGeneratedKeys="true" keyProperty="id">
        insert into client_specialty_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientNumber != null">client_number,</if>
            <if test="specialtyId != null">specialty_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="price != null">price,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="isReceived != null">is_received,</if>
            <if test="isPaid != null">is_paid,</if>
            <if test="isDone != null">is_done,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientNumber != null">#{clientNumber},</if>
            <if test="specialtyId != null">#{specialtyId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="price != null">#{price},</if>
            <if test="orderTime != null">#{orderTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="isReceived != null">#{isReceived},</if>
            <if test="isPaid != null">#{isPaid},</if>
            <if test="isDone != null">#{isDone},</if>
         </trim>
    </insert>

    <update id="updateLandlordSpecialtyRecord" parameterType="LandlordSpecialtyRecord">
        update client_specialty_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientNumber != null">client_number = #{clientNumber},</if>
            <if test="specialtyId != null">specialty_id = #{specialtyId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="isReceived != null">is_received = #{isReceived},</if>
            <if test="isPaid != null">is_paid = #{isPaid},</if>
            <if test="isDone != null">is_done = #{isDone},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLandlordSpecialtyRecordById" parameterType="Long">
        delete from client_specialty_record where id = #{id}
    </delete>

    <delete id="deleteLandlordSpecialtyRecordByIds" parameterType="String">
        delete from client_specialty_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>