<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.landlordspecialtyorder.mapper.LandlordSpecialtyRecordMapper">
    
    <resultMap type="LandlordSpecialtyRecord" id="LandlordSpecialtyRecordResult">
        <result property="id"    column="id"    />
        <result property="clientNumber"    column="client_number"    />
        <result property="clientName"    column="user_name"    />
        <result property="specialtyId"    column="specialty_id"    />
        <result property="specialtyName"    column="specialty_name"    />
        <result property="houseName"    column="house_name"    />
        <result property="quantity"    column="quantity"    />
        <result property="price"    column="price"    />
        <result property="orderTime"    column="order_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="isReceived"    column="is_received"    />
        <result property="isPaid"    column="is_paid"    />
        <result property="isDone"    column="is_done"    />
        <result property="specialtyRecordId"    column="specialty_record_id"    />
        <result property="score"    column="score"    />
        <result property="comment"    column="comment"    />
        <result property="photo"    column="photo"    />
        <result property="path"    column="path"    />
    </resultMap>

    <sql id="selectLandlordSpecialtyRecordVo">
         select client_specialty_record.id as id , client_number, user_name, specialty_id,specialty_name,house_name, quantity, client_specialty_record.price as price, order_time, finish_time, is_received, is_paid, is_done
from client_specialty_record join sys_user join house_specialty join landlord_house
where client_specialty_record.specialty_id= house_specialty.id and house_specialty.house_id = landlord_house.id and client_number=user_id and specialty_id in (select id from house_specialty where house_id = (select id from landlord_house where  host_number=(select user_id from sys_user where user_name = #{userName})) )

    </sql>

    <select id="selectLandlordSpecialtyRecordList" parameterType="LandlordSpecialtyRecord" resultMap="LandlordSpecialtyRecordResult">
        <include refid="selectLandlordSpecialtyRecordVo"/>
            <if test="clientNumber != null "> and client_number = #{clientNumber}</if>
            <if test="clientName != '' "> and user_name = #{clientName}</if>
            <if test="specialtyId != null "> and specialty_id = #{specialtyId}</if>
            <if test="specialtyName != ''  "> and specialty_name = #{specialtyName}</if>
            <if test="houseName != '' "> and house_name = #{houseName}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="orderTime != null "> and order_time = #{orderTime}</if>
            <if test="finishTime != null "> and finish_time = #{finishTime}</if>
            <if test="isReceived != null "> and is_received = #{isReceived}</if>
            <if test="isPaid != null "> and is_paid = #{isPaid}</if>
            <if test="isDone != null "> and is_done = #{isDone}</if>
    </select>

    <select id="selectLandlordSpecialtyRecordList2" parameterType="LandlordSpecialtyRecord" resultMap="LandlordSpecialtyRecordResult">
            select client_specialty_record.id as id , client_number, user_name, specialty_id,specialty_name,house_name, quantity, client_specialty_record.price as price, order_time, finish_time, is_received, is_paid, is_done
from client_specialty_record join sys_user join house_specialty join landlord_house
where client_specialty_record.specialty_id= house_specialty.id and house_specialty.house_id = landlord_house.id and client_number=user_id and specialty_id in (select id from house_specialty where house_id = (select id from landlord_house where  host_number=(select user_id from sys_user where user_name = #{userName})) )
    </select>

    <select id="selectLandlordSpecialtyRecordById" parameterType="Long" resultMap="LandlordSpecialtyRecordResult">
  select client_specialty_record.id as id, client_number, user_name, specialty_id,specialty_name,house_name, quantity, client_specialty_record.price as price, order_time, finish_time, is_received, is_paid, is_done
from client_specialty_record join sys_user join house_specialty join landlord_house
where client_number=user_id and client_specialty_record.id = #{id} and specialty_id =house_specialty.id and house_specialty.house_id = landlord_house.id

    </select>

    <select id="selectLandlordSpecialtyCommentRecordById" parameterType="Long" resultMap="LandlordSpecialtyRecordResult">
        select id, specialty_record_id,max(score) as score,max(comment) as comment,photo  from client_specialty_comment where specialty_record_id = #{id}
    </select>

    <select id="selectSpecialtyId" parameterType="LandlordSpecialtyRecord" resultMap="LandlordSpecialtyRecordResult">
        select house_specialty.id as specialty_id from house_specialty join landlord_house where house_specialty.house_id= landlord_house.id and specialty_name =#{specialtyName} and house_name =#{houseName}

    </select>
        
    <insert id="insertLandlordSpecialtyRecord" parameterType="LandlordSpecialtyRecord" useGeneratedKeys="true" keyProperty="id">
        insert into client_specialty_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientNumber != null">client_number,</if>
            <if test="specialtyId != null">specialty_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="price != null">price,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="isReceived != null">is_received,</if>
            <if test="isPaid != null">is_paid,</if>
            <if test="isDone != null">is_done,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientNumber != null">#{clientNumber},</if>
            <if test="specialtyId != null">#{specialtyId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="price != null">#{price},</if>
            <if test="orderTime != null">#{orderTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="isReceived != null">#{isReceived},</if>
            <if test="isPaid != null">#{isPaid},</if>
            <if test="isDone != null">#{isDone},</if>
         </trim>

    </insert>

    <update id="updateLandlordSpecialtyRecord" parameterType="LandlordSpecialtyRecord">
    update client_specialty_record
    <trim prefix="SET" suffixOverrides=",">
        <if test="clientNumber != null">client_number = #{clientNumber},</if>
        <if test="specialtyName != null">specialty_id = (select house_specialty.id as specialty_id from house_specialty join landlord_house where house_specialty.house_id= landlord_house.id and specialty_name =#{specialtyName} and house_name =#{houseName}),</if>
        <if test="quantity != null">quantity = #{quantity},</if>
        <if test="price != null">price = #{price},</if>
        <if test="orderTime != null">order_time = #{orderTime},</if>
        <if test="finishTime != null">finish_time = #{finishTime},</if>
        <if test="isReceived != null">is_received = #{isReceived},</if>
        <if test="isPaid != null">is_paid = #{isPaid},</if>
        <if test="isDone != null">is_done = #{isDone},</if>
    </trim>
    where id = #{id}
</update>

    <update id="updateLandlordSpecialtyCommentRecord" parameterType="LandlordSpecialtyRecord">
        update client_specialty_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="specialtyRecordId != null">specialty_record_id = #{specialtyRecordId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="photo != null">photo = #{photo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLandlordSpecialtyRecordById" parameterType="Long">
        delete from client_specialty_record where id = #{id}
    </delete>

    <delete id="deleteLandlordSpecialtyRecordByIds" parameterType="String">
        delete from client_specialty_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>